<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

<div class="continent-length-box"><h1>Infected continents: <%= continents.length %></h1></div>

<div class="containers">
    <% for (var i = 0; i < continents.length; i++) { %>
        <div class="item">
            <h1><%= continents[i].continent %></h1>
            <hr class="header-separator">
            <p>Population - <%= continents[i].population.toLocaleString() %></p>
            <p>Infected - <%= continents[i].cases.toLocaleString() %></p>
            <p>Infected today - <%= continents[i].todayCases.toLocaleString() %></p>
            <p>Deaths - <%= continents[i].deaths.toLocaleString() %></p>
            <p>Deaths today - <%= continents[i].todayDeaths.toLocaleString() %></p>
            <p>Recovered - <%= continents[i].recovered.toLocaleString() %></p>
            <p>Recovered today - <%= continents[i].todayRecovered.toLocaleString() %></p>
            <p>Active - <%= continents[i].active.toLocaleString() %></p>
            <p>Critical - <%= continents[i].critical.toLocaleString() %></p>
            <p>Tests - <%= continents[i].tests.toLocaleString() %></p>
        </div>
    <% } %>
</div>

<%- include('includes/footer.ejs') %>