<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

<div class="containers">
    <% for (var i = 0; i < continents.length; i++) { %>
        <div class="item">
            <h1><%= continents[i].continent %></h1>
            <p>Population - <%= continents[i].population.toLocaleString() %></p>
            <p>Infected - <%= continents[i].cases.toLocaleString() %></p>
            <p>Infected today - <%= continents[i].todayCases.toLocaleString() %></p>
            <p>Deaths - <%= continents[i].deaths.toLocaleString() %></p>
            <p>Deaths today - <%= continents[i].todayDeaths.toLocaleString() %></p>
            <p>Recovered - <%= continents[i].recovered.toLocaleString() %></p>
            <p>Recovered today - <%= continents[i].todayRecovered.toLocaleString() %></p>
            <p>Active - <%= continents[i].active.toLocaleString() %></p>
            <p>Critical - <%= continents[i].critical.toLocaleString() %></p>
            <p>Tests - <%= continents[i].tests.toLocaleString() %></p>
        
        </div>
    <% } %>
</div>

<!--    <div class="item">2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores molestiae dicta adipisci necessitatibus ex, consequuntur quas quod facere quidem voluptate?</div>
        <div class="item">3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo illum officia vero suscipit hic a deleniti sed sequi eum maxime.</div>
        <div class="item">4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias quaerat eaque assumenda! Blanditiis et quam nulla id, porro repudiandae!</div>
        <div class="item">5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut officia similique officiis sint doloremque numquam necessitatibus voluptatem quae nulla sapiente?</div>
        <div class="item">6 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veritatis aspernatur perferendis ut magnam, rerum quam esse maiores sint dolorem.</div>
        <div class="item">7 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi architecto aliquam quibusdam? Quos excepturi a natus consequuntur tenetur dolore maiores?</div> -->

<%- include('includes/footer.ejs') %>