<%- include('includes/head.ejs') %>

    <%- include('includes/navigation.ejs') %>

    <div class="continent-length-box"><h1>Infected continents: <%= continents.length - 1 %></h1></div>

    <div class="page-content">
        <% for (var i = 0; i < continents.length; i++) { %>
            <div class="card">
                <div class="content">
                    <h1 class="title"><%= continents[i].continent %></h1>
                    <div class="country-card">
                        <div class="left-column">
                            Population<br>
                            Infected<br>
                            Infected today<br>
                            Deaths<br>
                            Deaths today<br>
                            Recovered<br>
                            Recovered today<br>
                            Active<br>
                            Critical<br>
                            Tests
                        </div>
                        <div class="right-column">
                            <%= continents[i].population.toLocaleString() %><br>
                            <%= continents[i].cases.toLocaleString() %><br>
                            <%= continents[i].todayCases.toLocaleString() %><br>
                            <%= continents[i].deaths.toLocaleString() %><br>
                            <%= continents[i].todayDeaths.toLocaleString() %><br>
                            <%= continents[i].recovered.toLocaleString() %><br>
                            <%= continents[i].todayRecovered.toLocaleString() %><br>
                            <%= continents[i].active.toLocaleString() %><br>
                            <%= continents[i].critical.toLocaleString() %><br>
                            <%= continents[i].tests.toLocaleString() %>
                        </div>
                </div>
                </img>
            </div>
        </div>
        <% } %>
    </div>

<%- include('includes/footer.ejs') %>