<%- include('includes/head.ejs') %>

    <%- include('includes/navigation.ejs') %>

    <div class="continent-length-box"><h1>Infected continents: <%= continents.length %></h1></div>

    <div class="page-content">
        <% for (var i = 0; i < continents.length; i++) { %>
            <div class="card">
                <div class="content">
                    <h1 class="title"><%= continents[i].continent %></h1>
                    <div class="country-card">
                        <span class="left-column">Population</span><span class="right-column"><%= continents[i].population.toLocaleString() %></span><br>
                        <span class="left-column">Infected</span><span class="right-column"><%= continents[i].cases.toLocaleString() %></span><br>
                        <span class="left-column">Infected today</span><span class="right-column"><%= continents[i].todayCases.toLocaleString() %></span><br>
                        <span class="left-column">Deaths</span><span class="right-column"><%= continents[i].deaths.toLocaleString() %></span><br>
                        <span class="left-column"> Deaths today</span><span class="right-column"><%= continents[i].todayDeaths.toLocaleString() %></span><br>
                        <span class="left-column">Recovered</span><span class="right-column"><%= continents[i].recovered.toLocaleString() %></span><br>
                        <span class="left-column">Recovered today</span><span class="right-column"><%= continents[i].todayRecovered.toLocaleString() %></span><br>
                        <span class="left-column">Active</span><span class="right-column"><%= continents[i].active.toLocaleString() %></span><br>
                        <span class="left-column">Critical</span><span class="right-column"><%= continents[i].critical.toLocaleString() %></span><br>
                        <span class="left-column">Tests</span><span class="right-column"><%= continents[i].tests.toLocaleString() %></span>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

<%- include('includes/footer.ejs') %>